
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,400;0,800;1,200;1,400&family=Inter:wght@100;300;400;700&family=Space+Grotesk:wght@300;400;600;700&display=swap');


:root {
	--text-color-dark: #404045;
	--text-color-light: #f3f3f3;
}

iframe {
	border: none;
	line-height: 0;
}


body {
    /* background-color: rgb(255, 255, 255); */
	background-color: rgb(235 216 194);
	
	font-family: 'Space Grotesk', sans-serif;
	line-height: 2rem;
	color: var(--text-color-dark);
	margin: auto;
}

a {
	color: var(--text-color-light);
	text-decoration: none;
}

a:hover {
	color: var(--text-color-light);
	text-decoration: underline;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {}

ul {
	padding: 0px;
}


.nav-bar {
	color: var(--text-color-light);
	position: fixed;
	top: 0;
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px 0px 10px;
	border-bottom-style: solid;
	border-width: 1px;
	backdrop-filter: blur(5px);
}

.nav-links {
	display: flex;
	display: none;
	/* padding-right: 20px; */
	list-style: none;
}

.nav-links li {
	padding-left: 10px;
}

.menu-button {
	display: flex;
	padding-right: 20px;
}

.menu-button:hover {
	color: rgb(218, 218, 218);
}

.main-grid {
	display: grid;
	margin: auto;
	width: 100%;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 0px;
}

.hero-section {
    max-height: 50rem;
    overflow: hidden;
	grid-column: 1 / 13;
	grid-row: 1 / 2;
}

.hero-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.blurb-section  {
	grid-column: 2 / 11;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.headline {
	font-weight: normal;
	font-size: 4rem;
	line-height: 4.2rem;
}

.blurb-heading {
	font-weight: bold;
	font-size: 4rem;
	line-height: 4.2rem;
	padding: 20px 0px 2rem 0px;
	margin: auto;
}

.blurb-subheading {
	font-size: 2rem;
	font-weight: normal;
	margin: auto;
	padding-bottom: 1rem;
}

.project-blurb {
	grid-column: 2 / 8;
}

.gallery-section {
	display: flex;
	justify-content: center;
	height: 90vw;
	;
}

.gallery-cell {
	height: 27.3vw;
	padding-bottom: 16px;
}

.g-col-1 {
	grid-column: 2 / 5;
}

.g-col-2 {
	grid-column: 5 / 8;
}

.g-col-3 {
	grid-column: 8 / 11;
}


.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.project-content-block {
	grid-column: 2/ 11;
	padding-bottom: 32px;
}

.project-content-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.video-embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  