
:root {
    --text-color-dark: #000000;
    --text-color-light: #ffffff;
    
    cursor: crosshair;
}


body {
    font-family: "Helvetica", sans-serif;
    color: var(--text-color-light);
    margin: auto;
}

a {
    color: var(--text-color-light);
    text-decoration: none;
}

a:hover {
    color:var(--text-color-light); 
    text-decoration:underline;
    cursor:pointer;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

ul {
    padding: 0px;
}


.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border-bottom-style: solid;
    border-width: 1px;

    backdrop-filter: blur(5px); 
}

.nav-links{
    display: flex;
    display: none;
    /* padding-right: 20px; */
    list-style: none;
}

.nav-links li{
    padding-left: 10px;
}

.menu-button {
    display: flex;
    padding-right: 20px;
}

.menu-button:hover {
    color:rgb(218, 218, 218);
}


.wrapper{
    margin: auto;
    width: 100%;
}

.hero-content{
    display: flex;
}

.hero-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {margin: auto;}

.gallery-section {
    display: flex;
    justify-content: center;
   height:90vw;;
}

.gallery {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px; 

    grid-template-areas: 
    "image1  image2  image3"
    "image4  image5  image6"

    ;
}

.image1 {
    grid-area: image1;
}
.image2 {
    grid-area: image2;
}
.image3 {
    grid-area: image3;
}
.image4 {
    grid-area: image4;
}



.gallery_item {
    width: 100%;
    height: 100%;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2; 
    /* grid-row: 1 / span 2; */
  }
  

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  