
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,400;0,800;1,200;1,400&family=Inter:wght@100;300;400;700&family=Space+Grotesk:wght@300;400;600;700&display=swap');


:root {
	--text-color-dark: #37373b;
	--text-color-light: #f3f3f3;
	--text-color-highlight: #ff0000;
}

iframe {
	border: none;
	line-height: 0;
}


body {
	/* position: relative;
	top: 48px; */
    /* background-color: rgb(255, 255, 255); */
	/* background-color: #ebd8c2; */
	font-family: 'Space Grotesk', sans-serif;
	color: var(--text-color-dark);
	margin: auto;

	perspective: 1px;
}


.override-color-light {
	color: var(--text-color-light) !important;
}

.override-color-dark {
	color: var(--text-color-dark) !important;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover{
	color: var(--text-color-highlight);
	text-decoration: underline;
}

a:hover * {
	color: var(--text-color-highlight);
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	/* color: inherit; */
}

ul {
	padding: 0px;
	list-style: none;
}

img, video {
	max-width: 100%;
	display: block;
}

/* Nav Bar */
.nav-bar {
	color: var(--text-color-light);
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar a {
	text-transform: uppercase;
}

.nav-bar a:first-child {
	padding-left: 10px;
}
.nav-bar a:last-child {
	padding-right: 10px;
}

.menu-button {
	display: flex;
	padding-right: 20px;
}


/* footer */
.foot {
	display: flex;
	padding: 0px 16px 0px 16px;
	justify-content: center;
}

/* Main */
.main-grid {
	display: grid;
	margin: auto;
	width: 100%;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 0px;

	max-width: 140rem;
}

.hero-section {
	/* grid-column: 1 / 15; */
	width: 100%;
	height: 100%;
	/* min-height: 56.25vw; */
    max-height: 50rem;
    overflow: hidden;
}

.centre {
	display: flex;
	justify-content: center;
	align-items: center;

}

.hero-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.headline-section  {
	grid-column: 3 / 13;
	padding: 1rem 0 1rem 0 ;
}

.headline {
	font-weight: normal;
	font-size: 1.4rem;
	text-wrap: balance;
}

.blurb-section  {
	grid-column: 2 / 14;
	padding: 1rem 0 1rem 0;
}

.blurb-heading {
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
	margin: 1rem 0 1rem 0;
	margin: auto;
}

.blurb-subheading {
	font-size: 1rem;
	font-weight: normal;
	text-transform: uppercase;
	margin: auto;
	padding-bottom: 1rem;
	border-bottom: solid;
}

.gallery-grid {
	display: grid;
	grid-column: 2/14;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1rem;
	margin: auto;
	padding-bottom: 3rem;
}

.gallery-img {
	width: 100%;
	height: 92%;
	object-fit: cover;
}

.cell-title {
	/* display: none; */
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
}

.project-content-block {
	grid-column: 2/ 14;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-video {
	max-height: 70vh;
}

.video-mask{
    width: 350px;
    border-radius: 20px; 
    overflow: hidden; 
	margin: 2rem;
}


.resize {
	background-color: white;
}

.resize img {
	object-fit: scale-down;
	max-height: 80vh;
}

.side-by-side {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem,  1fr));
	grid-gap: 1rem;
}

.project-content-img {
	object-fit: cover;
}

.video-embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	width: 100%;
}

.video-embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sketchfab-embed iframe{
	width: 100%;
	aspect-ratio: 16/9;
}





@media only screen and (min-width: 480px) {
	
	.body {
		/* font-size: 1rem; */
	}

	.headline-section  {
		padding: 5rem 0 5rem 0;

	}

	.headline {
		font-size: 2rem;
	}

	.blurb-section {
		grid-column: 3 / 13;
		padding: 2rem 0 2rem 0;
	}

	.blurb-heading {
		font-size: 4rem;
		line-height: 4.2rem;
		padding: 2rem 0 1rem 0;
	}

	.blurb-subheading {
		font-size: 2rem;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
	}
}



@media only screen and (min-width: 880px) {
	
	.headline-section  {
		padding: 6rem 0 6rem 0;
	}

	.headline {
		font-size: 2.8rem;
	}

	.gallery-grid {
		grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
		/* grid-template-columns: repeat(2, 1fr); */
	}

	.gallery-img {
		height: 100%;
	}

	.gallery-cell {
		aspect-ratio: 1/1;
	} 

	.blurb-section {
		grid-column: 4 / 12;
		padding: 3rem 0 3rem 0;
	}
	
}

@media only screen and (min-width: 1200px) {

	.headline-section {
		grid-column: 4 / 12;
		min-height: 15.3rem;
		max-width: 40rem;
	}

	.headline {
		font-size: 3rem;
	}

	.blurb-section {
		grid-column: 4 / 9;
		padding: 4rem 0 4rem;
		min-height: 28rem;

	}



}

@media only screen and (min-width: 1700px) {
	.gallery-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.blurb-section {
		grid-column: 5 / 9;
		padding: 6rem 0 6rem 0;
	}

}





/* Grid Overrides */

.gr-span-14 {
	grid-column: 1 / 15;
}

.gr-span-12 {
	grid-column: 2 / 14
}

.gr-span-6-1 {
	grid-column: 2 / 8;
}

.gr-span-6-2 {
	grid-column: 8 / 14;
}

.gr-span-4-1 {
	grid-column: 2 / 6;
}

.gr-span-4-2 {
	grid-column: 6 / 10;
}

.gr-span-4-3 {
	grid-column: 10 / 14;
}


